* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#header {
    height: 10vh;
    width: 100%;
    display: flex;
    border-bottom: 1px solid black;
}

#footer {
    height: 10vh;
    width: 100%;
    margin-top: auto;
    border-top: 1px solid black; 
}

#landingPage {
    width: 100vw;
    height: 90vh;
}

#landingPage video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portrait-video {
    display: none;
}

.landscape-video {
    display: block;
}

@media (orientation: portrait) or (max-width: 768px) {
    .portrait-video {
        display: block;
    }
    
    .landscape-video {
        display: none;
    }
}

.vectorLogo {
    max-height: 100%;
    max-width: 100%;
}

